body {
  margin: 0;
  background-color: #0b1014;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  display: flex;
  flex-direction: column;
}

.Header {
  text-align: center;
  color: aliceblue;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0b1014;
  margin-bottom: 50px;
}

.film {
  text-align: center;
}

.MovieListContainer {
  color: #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
  justify-content: space-evenly;
}

.MovieContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 280px;
  cursor: pointer;
}
.MovieContainer:hover {
  box-shadow: 0px 0px 1px 1px #4484C4;
}

.Info {
  font-size: 16px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.InfoCol {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

img {
  object-fit: cover;
  height: 450px;
}

.pagination {
  list-style: none;
  cursor: pointer;
}

.pagination li {
  display: inline;
}

.pagination li+li:before {
  padding: 8px;
  color: white;
}

.pagination a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
  background-color: rgb(190, 16, 39);
  border-radius: 5px;
  border: 1px solid #ddd;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar li+li:before {
  padding: 8px;
  color: white;
}

.navbar .nav-link {
  color: white;
  background-color: rgb(190, 16, 39);
  padding: 16px 16px;
  text-decoration: none;
}

.navbar .nav-link:hover:not(.active) {
  background-color: rgb(214, 163, 22);
}


.searchbox {
  display: block;
  width: 86%;
  padding: 14px;
  margin-left: 40px;

  border: none;
  outline: none;
  background: none;

  background-color: #EEE;
  border-radius: 8px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 2px 2px #4484C4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #445565;

  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color: #FFF;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;

  background: rgb(190, 16, 39);
  color: #FFF;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.close:hover {
  background: #223343;
}

.container {
  max-width: 1170px;
  margin: auto;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h3 {
  color: white;
}

.col ul {
  list-style: none;
}

.col {
  width: 20%;
  flex-basis: 25%;
}

.col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.col ul li a:hover {
  color: #ffffff;
}

.col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

p {
  text-align: center;
  font-size: 16px;
  color: #bbbbbb;
}